:root {
	--black-dark: rgba(0, 0, 0, 0.7);
	--black-light: rgba(0, 0, 0, 0.3);

	--white-light: rgba(255, 255, 255, 0.2);

	--darksalmon: darksalmon;
}

* {
	outline: 0;
	box-sizing: border-box;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

button {
	background: transparent;
	border: 0;
	outline: 0;
}

input,
textarea {
	background-color: var(--text-edit-bg-color);
	color: var(--smokywhite);
	font-size: 1.5em;
}

body {
	background: url(../assets/cool-background.png) center/cover no-repeat;
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0;
	font-size: 1.25rem;
	overflow: hidden;
}

.dialog {
	position: absolute;
	top: 30%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);
}

.dialog .close {
	font-size: 20px;
	position: absolute;
	right: 12px;
	top: 12px;
}

#dialog__body {
	margin-top: 1.5rem;
}

.form__container {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5rem;
}

.dialog .dialog__submit {
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid #e9967a;
	padding: 0.15em 0 0.15em 0;
}

.container {
	width: 100%;
	max-width: 1000px;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: var(--white-light);
}

.header {
	background: var(--black-dark);
	text-align: center;
}

.header__title {
	color: var(--darksalmon);
	margin: 20px;
}

.control-panel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.create-button {
	margin: 0.1em 0.2em;
	user-select: none;
	text-transform: uppercase;
	text-align: center;
	padding: 1em 3em;
	background-color: var(--darksalmon);
	border-color: var(--darksalmon);
	border-radius: 5px;
}

.document {
	height: 100%;
	background-color: var(--white-light);
	overflow-y: auto;
	scrollbar-width: 6px;
	scrollbar-color: var(--black-dark);
	scrollbar-face-color: var(--black-light);
}

.page-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	padding: 20px;
}

.page-item__body section {
	/* display: flex; */
}

.page-item__controls {
	background-color: #e9967a;
	border-radius: 5px;
	width: 25px;
	height: 25px;
	margin-left: 40px;
}

.close {
	width: 25px;
	height: 25px;
}

.document::-webkit-scrollbar {
	background-color: var(--black-dark);
	width: 6px;
}

.document::-webkit-scrollbar-thumb {
	background-color: var(--darksalmon);
}

footer {
	width: 100%;
	height: 50px;
	background: var(--black-dark);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
